@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Sixtyfour&display=swap");
body {
  display: flex;
  justify-content: center;
  font-family: "Handjet", serif;
  background-color: bisque;
}
.calculator {
  display: flex;
  background-color: rgba(128, 128, 128, 0.745);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 125px;
  border: 2px solid black;
  border-radius: 10%;
  width: 350px;
  height: 550px;
}
.screens {
  width: 301px;
  height: 100px;
  margin-bottom: 24px;
  background-color: rgb(34, 32, 32);
  color: rgb(10, 214, 10);
}
#screen {
  height: 50px;
  font-size: 32px;
  margin-left: 8px;
}
#value-screen {
  height: 50px;
  display: flex;
  font-size: 48px;
  justify-content: end;
  margin-right: 8px;
}
button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-family: "Handjet", serif;
  font-size: 32px;
}
.operate {
  width: 147px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  width: 301px;
  height: 378px;
  padding: 8px;
}
